
html, body{
	background-color: #EEFDFD;
	background-image: url("bamboo.png");
	background-repeat: repeat;
	background-position: left top;
	background-attachment: fixed;
	background-size: 350px;
	height: 100%;
}

body{
	overflow-y: scroll;
	margin: 0;
}

p {
	color: black;
	font-family: Georgia;
	font-size: 16px;
	letter-spacing: 0.8px;
}

hr {
	padding: 0px;
	margin: 0px;
	border-top: 1px solid #888888;
	width: 94%;
}

a:link{
	text-decoration: none;
}

a:visited {
	color: #888888;
	text-decoration: none;
}

a:hover, a:active {
	color: #E8E8E8;
	text-decoration: none;

}

/*Font styling for main titles*/
h1 {
	font-family: times;
	font-size: 30px;
	color: black;
	font-weight: normal;
	text-align: center;
	letter-spacing: 2px;
}

/*Font styling for date*/
h2 { 
	font-family: times;
	font-style: italic; 
	font-weight: normal;
	font-size: 14px; 
	letter-spacing: 1.5px; 
	color: #888888;
	width: 75%; 
	text-align:center; 
	border-bottom: 1px solid #888888; 
	line-height:0.1em; 
	margin:10px 0 20px; 
} 

h2 span { 
	background:#fff; 
	padding: 0 10px; 
}

h3 {
	font-family: times;
	font-style: italic; 
	font-weight: normal;
	font-size: 16px; 
	letter-spacing: 1.5px; 
	color: #888888;
	padding-left: 5px; 
	text-align: left;
}

/*Font styling for subtitle*/
h4 {
	font-family: times;
	font-size: 20px;
	color: black;
	font-weight: normal;
	text-align: left;
	letter-spacing: 1px;
}


/* Side bars to show background image*/
#overlay .hor{
	position: absolute;
	height: 100%;
	width: 10%;
	background-color: transparent;
}
#overlay-left{ left: 0; }
#overlay-right{ right: 0; }


/* Main link button without hover*/
.mainLinkButton {
	background-color: transparent;
	color: black;
	font-family: times;
	font-size: 16px;
	letter-spacing: 2px;
	border: none;
	width: 153px;
	height: 100%;
	padding: 10px;
	margin: 0px;
	border-bottom: 1px solid white;
} 

/*Position dropdown sublinks under main link button*/
.mainLink {
	position: relative;
	display: inline-block;
}

/*Sublinks in dropdown menu without hover (hidden)*/
.sublink {
	visibility: hidden;
    opacity: 0;
    transition-property: opacity, visibility;
    transition-duration: .4s, 0s;
    transition-delay: 0s, .4s;

	position: absolute;
	background-color: #E8E8E8;
	background-color:rgba(240,240,240,0.8);
	color: black;
	font-style: italic;
	font-family: times;
	letter-spacing: 2px;
	font-size: 16px;
	width: 100%;
	overflow: visible;
	border: none;
	z-index: 1;
}

/*Sublinks*/
.sublink a {
	color: black;
	font-style: normal;
	display: block;
	padding: 7px;
	text-decoration: none;
} 

/*Change in sublinks while hovering over sublink*/
.sublink a:hover {
	background-color: black;
	color: white;
	visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s;
}

/*Show sublinks when hovering over button or sublinks*/
.mainLink:hover .sublink {
	visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s;
}

/*Change in main link buttons when hovering over button or sublinks*/
.mainLink:hover .mainLinkButton {
	background-color: #8FFFF1;
	border-bottom: 1px solid black;
}

.mainLink:hover #create {
	color: #FF8F9E;
	background-color: white;
}

.mainLink:hover #explore {
	color: #B6F051;
	background-color: white;
}

.mainLink:hover #aspire {
	color: #A2F3FC;
	background-color: white;
}

.mainLink:hover #personal {
	color: #F3DD4A;
	background-color: white;
}

.mainLink:hover #inquire {
	color: #A3B2FD;
	background-color: white;
}

/*Styling sub sublinks*/
.sublink ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sublink li ul {
	position: absolute;
	width: 153px;
	margin-top: -32px;
	margin-left: 153px;
	display: none;
	background-color: #E8E8E8;
	background-color: rgba(240,240,240,0.8);
}

.sublink ul li:hover ul {
	display: block;
}

.sublink ul li:hover > a {
	background-color: black;
	color: white;
}

/*Main body*/
#wrap {
	position: relative;
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	height: 100%;
	max-width: 70%;
}

#bodytext {
	position: relative;
	display: block;
	text-align: left;
	width: 90%;
	max-width: 800px;
	height: 50%;
	overflow-y: auto;
	padding-top: 30px;
	padding-bottom: 35px;
	padding-left: 10px;
	margin-top: -40px;
}

#bodycolumn {
	position: relative;
	display: block;
	left: 0;
	vertical-align: top;
	width: 98%;
	max-width: 900px;
	height: 50%;
	padding-top: 10px;
	padding-bottom: 15px;
}

/*Styling and positioning image slideshow*/
.mySlides {
	display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 42%;
  width: auto;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 5.05%;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 5%;
  border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*Footer to extend main content to bottom of page*/
#footer {
	background-color: white;
	width: 72%;
	min-height: 100%;
    height: auto !important;
	padding: 0px;
	margin: 0;
	position: fixed;
	bottom: 0;
	left: 14%;
	text-align: bottom;
}

